*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(248, 242, 242);
}
h1{
    text-transform: capitalize;
}

iframe{
    height: 250px;
    width: 400px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.384);
    background-color: rgb(248, 242, 242);
    box-shadow: inset 0px 5px 15px 5px rgba(0, 0, 0, 0.295);
    margin-bottom: 2rem;
    overflow: hidden;
    object-position: center;
    object-fit: cover;
}
iframe html{
    overflow: hidden;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.con{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.turnoff{
    padding: 1rem 5rem;
    height: 80px;
    width: fit-content;
    font-weight: 600;
    font-size: 25px;
    border-radius: 20px;
    background: rgb(231, 25, 25);
    color: rgb(248, 242, 242);
    border: none;
    box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.295);
    cursor: pointer;
    text-decoration: none;
}
.turnoff:hover{
    background: rgb(241, 69, 69);
}