<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Ignis</title>
    <link rel="stylesheet" href="../static/css/greetings.css">
</head>
<body>
    <header>
        <h1>Welcome to the <span class="ignite">Ignis</span> family</h1>
    </header>
    <section class="content">
        <p>You've made the right choice with our</p>
        <h2>Fire Detection System</h2>
        <p>For more information, visit <a href="#">here</a></p>
    </section>
    <footer>
        <p>&copy; 2023 The Dragonfury</p>
    </footer>
</body>
</html>
